body {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: #fff;
    text-align: center;
}

header{
    background-color: #f3f4f6;
    display: flex;
    height: 85px ;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.168) ;
}

.header-left{
    display: flex; 
    font-weight: bold;
    padding-left: 30px;
    font-size: x-large;
}

.header-right{
    padding-right: 20px;
    gap: 1rem;
    font-weight: bold;
    display: flex;
    
}
.header-left, .text-header{
    transition: transform 0.3s ease;
}

.header-left:hover, .text-header:hover {
    transform: scale(1.2);
}

a{
    text-decoration: none;
    color: black;
}

.logo{ 
    display:flex;
    align-items: center;
}

.background-img{
    position: absolute;
    top: 80px;
    left:-15px;
    opacity:0.8 ;

}

.social-media{
    display: flex;
    flex-direction: column;
    position:absolute;
    top: 95px;
    right:10px;
}

    
.social-media img{
    width:50x;
    height:50px;
    opacity: 0.8;
}

.social-media img:hover{
    opacity:1;
}


.card{
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: 531px;
    align-items: center;
    gap:10px;
}

.services-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service-item .btn{
    margin:20px;
}

.service-item{
    border: 1px solid #7cdae6c8;
    margin: 50px;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: block;
    width: 400px;
}

.service-item h3 {
    margin-top: 10px;
    font-size: 20px;
}

.service-item p {
    margin-bottom: 10px;
    font-size: 14px;
}

.btn {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    border: 20px solid #166534;
    border-radius: 30px;
    border-width: 5px;
    opacity: 0.8;
    color: black ;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: large;
}

.btn:hover {
    opacity: 1;
}

.page-grass{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width:100%;
    background-image: url("./assets/img/grass.png");
    background-repeat: repeat-x;
    opacity: 0.4;
    bottom:-5px;
    z-index: -1;
}

footer {
    height: 85px ;
    align-items: center;
    display:flex;
    justify-content: center;
    background-color: #f3f4f6;
    box-shadow: 0 0 30px #64a30dcb ;
    font-weight: bold

}
.create-line {
    width: block;
    border-top: 3px solid #d1d5db;
  }
